<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Frotnend | Homepage</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

   <!-- BEGIN GLOBAL MANDATORY STYLES -->          
   <link href="{{STATIC_URL}}plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
   <link href="{{STATIC_URL}}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <!-- END GLOBAL MANDATORY STYLES -->
   
   <!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
   <link href="{{STATIC_URL}}plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />              
   <link rel="stylesheet" href="{{STATIC_URL}}plugins/revolution_slider/css/rs-style.css" media="screen">
   <link rel="stylesheet" href="{{STATIC_URL}}plugins/revolution_slider/rs-plugin/css/settings.css" media="screen"> 
   <link href="{{STATIC_URL}}plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />                
   <!-- END PAGE LEVEL PLUGIN STYLES -->

   <!-- BEGIN THEME STYLES --> 
   <link href="{{STATIC_URL}}css/style-metronic.css" rel="stylesheet" type="text/css"/>
   <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css"/>
   <link href="{{STATIC_URL}}css/themes/blue.css" rel="stylesheet" type="text/css" id="style_color"/>
   <link href="{{STATIC_URL}}css/style-responsive.css" rel="stylesheet" type="text/css"/>
   <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet" type="text/css"/>
   <!-- END THEME STYLES -->

   <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body>
	{%comment%}
	<!-- BEGIN STYLE CUSTOMIZER -->
	<div class="color-panel hidden-sm">
		<div class="color-mode-icons icon-color"></div>
		<div class="color-mode-icons icon-color-close"></div>
		<div class="color-mode">
			<p>THEME COLOR</p>
			<ul class="inline">
				<li class="color-blue current color-default" data-style="blue"></li>
				<li class="color-red" data-style="red"></li>
				<li class="color-green" data-style="green"></li>
				<li class="color-orange" data-style="orange"></li>
			</ul>
			<label>
				<span>Header</span>
				<select class="header-option form-control input-small">
					<option value="default" selected>Default</option>
					<option value="fixed">Fixed</option>
				</select>
			</label>
		</div>
	</div>
	<!-- END BEGIN STYLE CUSTOMIZER -->    
	{%endcomment%}
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- END RESPONSIVE MENU TOGGLER -->
				<!-- BEGIN LOGO (you can use logo image instead of text)-->
				<a class="navbar-brand logo-v1" href="index.html">
					<img src="{{STATIC_URL}}img/logo_blue.png" id="logoimg" alt="">
				</a>
				<!-- END LOGO -->
			</div>
		
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
                            <a  href="/">
                        	Home
                        	<i class="fa fa-angle-down"></i>
                        </a>
						<!--
                        <ul class="dropdown-menu">
                        	<li class="active"><a href="index.html">Home Default</a></li>
                            <li><a href="page_home_fixed_header.html">Header Fixed</a></li>
                        	<li><a href="page_home2.html">Home with Top Bar</a></li>
                        </ul>
						-->
					</li>
                    
                    <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
                            Pricing
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">.
							<li><a href="/prices">Prices</a></li>
							<li><a href="/signup">Signup Page</a></li>
                            <li><a href="page_about.html">About Us</a></li>
                            <li><a href="page_services.html">Services</a></li>
                            <li><a href="page_faq.html">FAQ</a></li>
                            <li><a href="page_careers.html">Careers</a></li>
                            <li><a href="page_contacts.html">Contact</a></li>
                        </ul>
                    </li>
					<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
                        	Features
                        	<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                        	<li><a href="feature_typography.html">Typography</a></li>
                        	<li><a href="feature_buttons.html">Buttons</a></li>
                        	<li><a href="feature_forms.html">Forms</a></li>
                        	<li><a href="feature_icons.html">Icons</a></li>
                        </ul>
					</li>                        
					<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
                        	Portfolio
                        	<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                        	<li><a href="portfolio_4.html">Portfolio 4</a></li>
                        	<li><a href="portfolio_3.html">Portfolio 3</a></li>
                        	<li><a href="portfolio_2.html">Portfolio 2</a></li>
                        	<li><a href="portfolio_item.html">Portfolio Item</a></li>
                        </ul>
					</li>
					<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
                        	Blog
                        	<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                        	<li><a href="blog.html">Blog Page</a></li>
                        	<li><a href="blog_item.html">Blog Item</a></li>
                        </ul>
					</li>				
                    <li><a href="/login">Login</a></li>
					<li class="menu-search">
                        <span class="sep"></span>
                        <i class="fa fa-search search-btn"></i>

                        <div class="search-box">
                            <form action="#">
                                <div class="input-group input-large">
                                    <input class="form-control" type="text" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn theme-btn">Go</button>
                                    </span>
                                </div>
                            </form>
                        </div> 
					</li>
				</ul>                           
			</div>
			<!-- BEGIN TOP NAVIGATION MENU -->
		</div>
    </div>
    <!-- END HEADER -->