{% extends 'base.html' %}
{% block content %}
	<link href="{{STATIC_URL}}css/pages/prices.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/custom.css" rel="stylesheet" type="text/css"/>
    <!-- BEGIN PAGE CONTAINER -->  
    <div class="page-container">
	
		<!-- BEGIN BREADCRUMBS -->   
		<div class="row breadcrumbs margin-bottom-40">
			<div class="container">
				<div class="col-md-4 col-sm-4">
					<h1>Prices</h1>
				</div>
				<div class="col-md-8 col-sm-8">
					<ul class="pull-right breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li><a href="">Pages</a></li>
						<li class="active">Prices</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- END BREADCRUMBS -->

		<!-- BEGIN CONTAINER -->   
		<div class="container min-hight">
			<!-- BEGIN PRICING OPTION1 -->
			<div class="row margin-bottom-40">
			{% for item in prices %}
				<div class="col-md-3">
					<div class="pricing">
						<div class="pricing-head">
							<h3>{{item.price_title}} <span>{{item.short_desc}}</span></h3>
							<h4><i>{{item.amount}}</i> <span>{{item.short_desc}}</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="icon-tags"></i> At vero eos</li>
							<li><i class="icon-asterisk"></i> No Support</li>
							<li><i class="icon-heart"></i> Fusce condimentum</li>
							<li><i class="icon-star"></i> Ut non libero</li>
							<li><i class="icon-shopping-cart"></i> Consecte adiping elit</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .</p>
							<a href="/signup?pid={{item.id}}" class="btn theme-btn">Sign Up</a>  
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			<!-- END PRICING OPTION1 -->

			
		</div>
		<!-- END CONTAINER -->

	</div>
    <!-- END PAGE CONTAINER -->  
	
    {% endblock content %}